.content-header {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
}

.content-header .date {
  font-weight: 600;
}

.content-header .title-notificacion {
  color: var(--color-primary);
  font-weight: 500;
  text-transform: uppercase;
}

.contenido {
  margin-bottom: 20px;
}

.actividades {
  display: flex;
  gap: 10px;
  flex-direction: column;

  .transferencias {
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding: 20px;

    &::-webkit-scrollbar {
      height: 5px;
      width: 5px;
    }
    
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.3);
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    .content-transferencia {
      display: flex;

      .mensaje {
        margin: 0;
        position: relative;

        &::before {
          background-color: var(--color-secondary);
          border-radius: 50%;
          content: "";
          display: inline-block;
          height: 12px;
          margin-right: 10px;
          width: 12px;
        }

        .amount,
        .id {
          color: var(--color-primary);
          font-weight: 500;
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .actividades {
    flex-direction: row;

    .notificaciones {
      width: 100%;
    }
    
    .transferencias {
      max-height: 600px;
      width: 600px;
    }
  }
}