<div class="content-figures">
  <span class="figure-1"></span>
  <span class="figure-2"></span>
  <span class="figure-3"></span>
</div>

<div class="content-auth">
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <h2 class="title-form">Iniciar Sesión</h2>
    <div class="content-inputs">
      <div
        class="my-input"
        [ngClass]="{
          error: verificarInput('email') || formLogin.value.email === ''
        }"
      >
        <i class="fas fa-user"></i>
        <input placeholder="Correo Electronico" formControlName="email" />
      </div>

      <div
        class="my-input"
        [ngClass]="{
          error: verificarInput('password') || formLogin.value.password === ''
        }"
      >
        <i class="fas fa-lock"></i>
        <input
          placeholder="Contraseña"
          type="password"
          formControlName="password"
        />
      </div>
    </div>
    <button
      *ngIf="!isLoading; else elseSubmit"
      class="btn-action"
      type="submit"
      [disabled]="formLogin.invalid"
    >
      Entrar
    </button>
    <ng-template #elseSubmit>
      <div class="loader">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </ng-template>
    <div class="content-link">
      <a routerLink="/recuperar-contraseña">¿Has olvidado tu contraseña?</a>
      <a routerLink="/">Ir a inicio</a>
    </div>
  </form>

  <section class="info-section">
    <h3 class="title-info">¿Aún no tienes una cuenta?</h3>
    <p class="description-info">Registrate para que puedas iniciar sesión</p>
    <a routerLink="/registrarse">Registrarse</a>
  </section>

  <p class="texto">VoyRapidoChile 2021 &copy; | Hecho con mucho <i class="fas fa-heart"></i> por <a href="https://hellomundo.io/" target="__blank">hellomundo</a></p>
</div>
