.content-confirmar {
	padding: 10px;
}

.content-confirmar p {
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	text-align: center;
}

.content-confirmar .extra {
	color: var(--color-primary);
	margin-top: 20px;
	text-transform: uppercase;
}