<div class="content-figures">
  <span class="figure-1"></span>
  <span class="figure-2"></span>
  <span class="figure-3"></span>
</div>

<div class="content-auth">
  <form [formGroup]="formModify" (ngSubmit)="onSubmit()">
    <h2 class="title-form">Modificar contraseña</h2>
    <div class="content-inputs">
      <div
        class="my-input"
        [ngClass]="{
          error: verificarInput('password') || formModify.value.password === ''
        }"
      >
        <i class="fas fa-lock"></i>
        <input
          placeholder="Contraseña"
          type="password"
          formControlName="password"
        />
      </div>

      <div
        class="my-input"
        [ngClass]="{
          error:
            verificarInput('repeatPassword') ||
            formModify.value.repeatPassword === '' ||
            formModify?.hasError('repeatPassword')
        }"
      >
        <i class="fas fa-lock"></i>
        <input
          placeholder="Repetir Contraseña"
          type="password"
          formControlName="repeatPassword"
        />
      </div>
    </div>

    <button
      *ngIf="!isLoading; else elseSubmit"
      class="btn-action"
      type="submit"
      [disabled]="formModify.invalid"
    >
      Aceptar
    </button>
    <ng-template #elseSubmit>
      <div class="loader">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </ng-template>
  </form>

  <section class="info-section">
    <h3 class="title-info">¡Hurra!</h3>
    <p class="description-info">
      Estas a un paso de obtener tu nueva contraseña
    </p>
  </section>

  <p class="texto">VoyRapidoChile 2021 &copy; | Hecho con mucho <i class="fas fa-heart"></i> por <a href="https://hellomundo.io/" target="__blank">hellomundo</a></p>
</div>
